# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Firebase local config
src/firebase/firebase-config-local.js
firebase-config-local.js

# typescript
*.tsbuildinfo

# Logs
logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build folders
/build
/android/app/build
/ios/build

# Testing
/coverage

# Local Netlify folder
.netlify

# Temp files
.temp
.tmp
